<title>RabeL Code | Bakım</title>
<br><br>
<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2Fwp2757874.gif?v=1601097937332) no-repeat fixed;
			background-size: 100%;
		}
	</style>
  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div class="testo">
        <h1 class="text-light font-weight-light">RabeL Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="/davet" target="_blank"><font color="gold"</font>Discord Sunucumuza</a><font color="white"</font> Katılmanız Gerekmektedir
  </p>
      
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p>   
  
  <div class="btn-group mt-4">
    <a href="https://discord.com/oauth2/authorize?client_id=710115789537017926&scope=bot&permissions=2146958847" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-robot"></i> Friday Botumuz</a>
    <a href="https://youtube.com/GweepCreativeOfficial" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-youtube"></i> Youtube Sayfamız</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">

        <h class="text-light font-weight-light">
       RabeL Code. 2020 Tüm Hakları Saklıdır. Developer by Gweep Creative
  </h>
  <br>
</main>