<title>RabeL Code | Bakımdayız</title>
<br><br>
<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2Fbakim-asamasi-1.png?v=1601541999502) no-repeat fixed;
			background-size: 100%;
		}
	</style>