<title>RabeL Code | {{member.user.username}}</title> <br><br> <div class="container">
    <div>

      <center>
      <a href="https://discordapp.com/users/{{member.user.id}}" class="twPc-avatarLink">
        <img alt="Avatar" src="{{avatarURL}}" class="twPc-avatarImg">
      </a>
      <div class="twPc-divUser">
        <div class="twPc-divName">
          {{member.user.username}}
        </div>

        
        <div class="twPc-divStats">
        <ul class="twPc-Arrange">
          <a href="https://youtube.com/GweepCreativeOfficial" style="text-decoration:none" class="index-button1"><i class="fas fa-youtube-play"></i> Yotuber</a>
        </ul>
      </div>
        
<hr>
                <span>
              <span>Kurucu.</span>
        </span>
    </div>
        
        Web Site Developer <font color="red">&</font> Discord Owner.

  </div>
      </center>
</div>

